.detaillist ul{
   list-style: none;
}

.detaillist  h1{
    color: rgb(11, 11, 136);
    margin: 2rem 2rem 2rem 2rem;
    
}
.detaillist h2{
    margin: 2rem 2rem 2rem 2rem;
}

.detaillist{
    padding-right:10rem ;
    /* border: 1px solid gray; */
    box-shadow: 0px 0px 8px -5px ;
    margin: 1rem 1rem 1rem 1rem;

}

.conatinerdelhi{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding:  4rem 8rem;
   align-items: center;
}

.subconatinerdelhi{
    background-color: white;
    width: 30rem;
    height: 33rem;
    /* box-shadow: 0px 0px 8px -5px; */
}

.subconatinerdelhiimg img{
   width: 110%;
   border-radius: 1rem;
   margin-top: 2rem;
   height: 25rem;
}

.subconatinerdelhiimg h1{
    color: rgb(6, 6, 74);
    text-align: center;
    font-weight: bolder;
}


.OuickSummary{
  padding-left: 3rem;
  margin-bottom: 7rem;

}

.ouicktitle h1{
   /* text-align: center; */
    color: rgb(6, 6, 74);
    padding-top: -4rem;
    padding-left: 9rem;
    margin-bottom: 2rem;

}
.quicksummaerytable table{
    box-shadow: 0px 0px 8px -2px;
   
}
.tabletext{
    box-shadow: 0px 0px 8px -2px;
    margin-left: 9rem;
    /* border: 2px solid black; */
    
}
table tr{
    border: 1px solid black;
}
.tabletext td{
    border: 1px solid black;
    
}
.d1{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.d1text{
    margin-top: 5rem;
    padding-right: 10rem;

}

