.ContainerCollege {
    padding-top: 4rem;
}

.collegeHeading {
    text-align: center;
}

.collegeAboutText span {
    font-size: 1.5rem;
    font-weight: 600;
}

.CollegeContainer {
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.CollegeImage img {
    width: 60vh;
    height: 40vh;
    border-radius: 5px;
}

.CollegeContainer {
    padding: 2rem 0rem;
}

.learn-btn {
    padding-top: 1rem;
}

.learn-btn button {
    border: 1px solid #232354;
    background-color: transparent;
    padding: 0.5rem 1.5rem;

}

.learn-btn button:hover {
    background-color: #232354;
    color: white;
}

.listContainer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
    padding: 2rem 0rem;
    background-color: #232354;
    color: white;
}

.quotes{
    color:black;
    padding-top: 5rem;
    font-size: 2.5rem;
    width: 30%;
    text-align: center;
    border-radius: 5px;
    color: white;
}

.CollegePoints ul li {
    list-style: none;
}

.QuickSummaryContainer{
    padding-top: 4rem;
    padding-bottom: 2rem;
    width: 70%;
    margin: auto;
}

.quickPara{
    padding-top: 1rem;
}

.rows{
    padding: 2rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 6rem;
}

.mbbsCourseHeading{
    text-align: center;
}

.subtopics{
    padding-top: 10px;
}

.subtopics span{
    font-size: 1.3rem;
    font-weight: 600;
}