.ContainerCollege {
    padding-top: 4rem;
}

.collegeHeading {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.collegeAboutText span {
    font-size: 1.5rem;
    font-weight: 600;
}

.CollegeContainer {
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.CollegeImage img {
    width: 60vh;
    height: 40vh;
    border-radius: 5px;
}

.CollegeContainer {
    padding: 2rem 0rem;
}

.learn-btn {
    padding-top: 1rem;
}

.learn-btn button {
    border: 1px solid #232354;
    background-color: transparent;
    padding: 0.5rem 1.5rem;

}

.learn-btn button:hover {
    background-color: #232354;
    color: white;
}

.listContainer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 13rem;
    padding: 2rem 0rem;
    background-color: #232354;
    color: white;
}

.quotes {
    color: black;
    padding-top: 5rem;
    font-size: 2.5rem;
    width: 30%;
    text-align: center;
    border-radius: 5px;
    color: white;
}

.CollegePoints ul li {
    list-style: none;
}

.QuickSummaryContainer {
    padding-top: 4rem;
    padding-bottom: 2rem;
    width: 70%;
    margin: auto;
}

.quickPara {
    padding-top: 1rem;
}

.QuickSummaryHeading{
    font-size: 2rem;
    font-weight: 600;
}

.rows {
    padding: 2rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 6rem;
}

.mbbsCourseHeading {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.subtopics {
    padding-top: 10px;
}

.subtopics span {
    font-size: 1.3rem;
    font-weight: 600;
}

.admissionHeading span {
    font-size: 28px;
    background-color: #232354;
    color: white;
    padding: 1rem 12rem;
    font-weight: 600;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.admissionDetails {
    padding-top: 4rem;
    font-size: 1.2rem;
}

.titleDetails {
    text-align: center;
}

.tabletext {
    margin: auto;
    width: 55%;
}

.admissionContainer {
    padding: 4rem 0rem;
}

.bondContainer {
    width: 75%;
    margin: auto;
    float: right;
}

.bondtext {
    width: 70%;
}

.bondtable{
    width: 100%;
}

.bondtitle {
    font-weight: 600;
    padding-bottom: 1rem;
    font-size: 2rem;
}

.feeStructure{
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.feeStructuretitle{
    font-weight: 600;
    padding-bottom: 2rem;
    font-size: 2rem;
}

.Infrastructure{
    display: flex;
    flex-direction: row;
    justify-content:center;
    width: 85%;
    margin: auto;
    gap: 3rem;
    align-items: center;
}

.infrastructureTitle{
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
}

.hostel{
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding: 0rem 6rem;
    gap: 0rem;
    align-items: center;
}

.hostel p{
    width: 45%;
}

.hotelContainer{
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
}

.counsellingInfo{
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
}

.CounsellingPara{
    padding-top: 1rem;
    margin: auto;
    width: 80%;
}