.Bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    align-items: center;
    width: 55rem;
}

.Bottom .Bottomimg {
    margin: auto;
    background-color: #232354;
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;
}

.Bottom .form_data {
    width: 100%;
    margin: 25px auto;
    padding: 35px 30px;
    box-shadow: 0 0 15px -10px #232354;
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
}

.Bottom .Bottomimg img {
    width: 25rem;
}

.form_heading{
    text-align: center;
}

@media screen and (max-width: 1024px) and (min-width:400px) {
    .Bottom .Bottomimg {
        display: none;
    }
    .Bottom{
        width: 30rem;
    }
}

@media screen and (max-width:400px) {
    .Bottom {
        display: block;
        gap: 2rem;
    }

    .Bottom .Bottomimg img {
        width: 17rem;
    }

    .form_data {
        width: 17rem;
    }
}


/* css forgot password */

.forgot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    align-items: center;
    width: 55rem;
}

.forgot .Bottomimg {
    margin: auto;
    background-color: #232354;
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;
}

.forgot .Bottomimg img {
    width: 25rem;
}

.forgot .form_data {
    width: 100%;
    margin: 25px auto;
    padding: 45px 30px;
    box-shadow: 0 0 15px -10px #232354;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1024px) and (min-width:400px) {
    .forgot .Bottomimg {
        display: none;
    }
    .forgot{
        width: 30rem;
    }
}