.btn {
 
  border: 1.3px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  background-color: white;
  padding: 18px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-top: 0.5rem;
}

 .btn:hover {
  background-color: white;
  color: #232354;
}
.councelling {
  margin-bottom: 2rem;
  text-align: center;

}


.exp {
  margin-top: 3rem;
  text-align: center;
  margin-bottom: 5rem;
}

.exphead {
  color: midnightblue;

}

.exphead2 {
  font-family: cursive;
  margin-top: 1rem;

}

.expparadata p {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
  margin-left: 20rem;
  margin-right: 20rem;
  color: white;
}

.exppara{
  background-color: #232354;
  padding: 5rem 2rem;
}